force-app/main/default/flows/Prompt_Chain_Demo_V1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Order_JSON</name>
        <label>Get Order JSON</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <actionName>SalesOrderService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Step_2_Chain_of_Thought_GPT</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>salesOrds</name>
            <value>
                <elementReference>Get_Order</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SalesOrderService</nameSegment>
        <outputParameters>
            <assignToReference>salesOrderJSON</assignToReference>
            <name>orderJS</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>salesOrdJSONStatus</assignToReference>
            <name>status</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Step 1 - Call PDF Extraction Prompt (Gemini)</description>
        <name>Step_1_Call_PDF_Extraction_Prompt_Gemini</name>
        <label>Step 1 - Call PDF Extraction Prompt (Gemini)</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <actionName>GeminiPromptHandlerV1</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Response_Not_Null</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__files</typeName>
            <typeValue>ContentVersion</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>files</name>
            <value>
                <elementReference>Get_PDF_File</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GeminiPromptHandlerV1</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Step 2 - Chain of Thought (GPT) + Few Shot</description>
        <name>Step_2_Chain_of_Thought_GPT</name>
        <label>Step 2 - Chain of Thought + Few Shot (GPT)</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <actionName>Chain_of_Thought_V1</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Step_3_Approval_Validation_Few_Shot_GPT</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:SalesOrderData</name>
            <value>
                <elementReference>salesOrderJSON</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:InvoiceData</name>
            <value>
                <elementReference>Step_1_Call_PDF_Extraction_Prompt_Gemini.invoiceStr</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Chain_of_Thought_V1</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Step 3 - Approval Validation - Few Shot (GPT)</description>
        <name>Step_3_Approval_Validation_Few_Shot_GPT</name>
        <label>Step 3 - Approval Validation - Few Shot (GPT)</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <actionName>Invoice_Validation_Prompt_V1</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Invoice_Approval_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:InvoiceResponse</name>
            <value>
                <elementReference>Step_2_Chain_of_Thought_GPT.promptResponse</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Invoice_Validation_Prompt_V1</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <description>Create Payment Records</description>
        <name>Payment_Assignment</name>
        <label>Payment Assignment</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>PaymentRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order.Supplier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecord.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order.TotalAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecord.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sale</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecord.Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$System.OriginDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentRecord.ProcessingMode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>External</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Payment_Records</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Invoice_Approval_Check</name>
        <label>Invoice Approval Check</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Failure_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invoice_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Step_3_Approval_Validation_Few_Shot_GPT.promptResponse</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>True</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Dialog</targetReference>
            </connector>
            <label>Invoice Approved</label>
        </rules>
    </decisions>
    <decisions>
        <description>PDF Extract Gemini Prompt call not null</description>
        <name>Response_Not_Null</name>
        <label>Response Not Null</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Response_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Step_1_Call_PDF_Extraction_Prompt_Gemini.invoiceStr</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_JSON</targetReference>
            </connector>
            <label>Response Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Validate Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prompt Chain Demo V1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Insert Payment Records</description>
        <name>Insert_Payment_Records</name>
        <label>Create Payment Records</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Completion_Message</targetReference>
        </connector>
        <inputReference>PaymentRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Order details</description>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PDF_File</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get PDF File</description>
        <name>Get_PDF_File</name>
        <label>Get PDF File</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Step_1_Call_PDF_Extraction_Prompt_Gemini</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order.PrimaryInvoiceId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Completion Message</description>
        <name>Completion_Message</name>
        <label>Completion Message</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Invoice Processing Completed Successfully!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Failure_Message</name>
        <label>Failure Message</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ValidationFailedMessage</name>
            <fieldText>&lt;p&gt;Validation Failed, Further review required!!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Success Dialog</description>
        <name>Success_Dialog</name>
        <label>Success Dialog</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Payment_Assignment</targetReference>
        </connector>
        <fields>
            <name>SuccessMessagePrompt</name>
            <fieldText>&lt;p&gt;Prompt Processed Successfully!, Proceed for Payment.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>GeminiResponse</description>
        <name>GeminiResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>invoice json</description>
        <name>invoiceData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{   &quot;invoice_lines&quot;: [     {       &quot;Description&quot;: &quot;Coffee Machine&quot;,       &quot;Quantity&quot;: 10,       &quot;Unit of Measure&quot;: &quot;each&quot;,       &quot;Unit Price&quot;:&quot;1000&quot;,       &quot;Net price&quot;: 10000,       &quot;SKU&quot;: &quot;IL-100&quot;     },     {       &quot;Description&quot;: &quot;Laptop&quot;,       &quot;Quantity&quot;: 20,       &quot;Unit of Measure&quot;: &quot;each&quot;,       &quot;Unit Price&quot;:&quot;1000&quot;,       &quot;Net price&quot;: 20000,       &quot;SKU&quot;: &quot;BL-100&quot;     }   ],   &quot;supplier_details&quot;: {     &quot;name&quot;: &quot;Omega, Inc.&quot;,     &quot;address&quot;: &quot;641 Newton Views\nTapiachester, NY 95259&quot;,     &quot;tax_id&quot;: &quot;965-78-1117&quot;   },   &quot;client_details&quot;: {     &quot;name&quot;: &quot;Simpson, Barton and Barnes&quot;,     &quot;address&quot;: &quot;0855 Chen Junctions\nSanchezshire, MT 77237&quot;,     &quot;tax_id&quot;: &quot;945-79-5353&quot;   },   &quot;invoice_number&quot;: &quot;23876575&quot;,   &quot;invoice_date&quot;: &quot;07/11/2024&quot;,   &quot;Total Amount&quot;: &quot;30000.0&quot;,   &quot;SalesOrder&quot; : &quot;O-123456&quot; }</stringValue>
        </value>
    </variables>
    <variables>
        <description>PaymentRecord</description>
        <name>PaymentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Payment</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Sales Order JSON</description>
        <name>SalesorderData</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>[   {     &quot;Id&quot;: &quot;801a5000015t4aRAAQ&quot;,     &quot;TotalAmount&quot;: 30000,     &quot;OrderNumber&quot;: &quot;O-123456&quot;,     &quot;Account&quot;: {       &quot;Name&quot;: &quot;Omega, Inc.&quot;,       &quot;External_ID__c&quot;: &quot;965-78-1117&quot;     },     &quot;blng__BillingAccount__c&quot;: {       &quot;Name&quot;: &quot;Simpson, Barton and Barnes&quot;,       &quot;External_ID__c&quot;: &quot;945-79-5353&quot;     },     &quot;OrderItems&quot;: {       &quot;records&quot;: [         {           &quot;Id&quot;: &quot;802a5000003abNtAAI&quot;,           &quot;Quantity&quot;: 10,           &quot;TotalPrice&quot;: 10000,           &quot;UnitPrice&quot;: 1000,           &quot;Product2&quot;: {             &quot;Name&quot;: &quot;Coffee Machine&quot;,             &quot;ProductCode&quot;: &quot;IL-100&quot;           }         },         {           &quot;Id&quot;: &quot;802a5000003abNuAAI&quot;,           &quot;Quantity&quot;: 20,           &quot;TotalPrice&quot;: 20000,           &quot;UnitPrice&quot;: 1000,           &quot;Product2&quot;: {             &quot;Name&quot;: &quot;Laptop&quot;,             &quot;ProductCode&quot;: &quot;BL-100&quot;           }         }       ]     }   } ]</stringValue>
        </value>
    </variables>
    <variables>
        <name>salesOrderJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>salesOrdJSONStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
